.css-18ni7ap{
background: #131A40;
}

body{
    background:#131A40;
}

.main{
   background: rgb(0 0 0 / 87%);
}
h2, .css-183lzff, svg{
color: white !important;

.css-81oif8{
color: rgb(201 206 235);
}

